#phimoTitle {
    width: 100%; 
    justify-content: center;
}

#subtitle {
    padding-bottom: 20px; 
    width: 100%; 
    justify-content: center;
}

#options {
    width: 100%; 
    flex-direction: column; 
    align-items: center;
}

.optionsButton {
    font-weight: 500; 
    font-size: 18px; 
    width: 50%; 
    height: 35px;
}

