#workspace {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#model-surface {
    width: 100%;
    height: 100%;
    display: block;
}

#axisViewport-surface {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

#orientationViewport-surface {
    position: absolute;
    right: 0; 
    bottom: 40px;
    width: 130px;
    height: 130px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

#overlays {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.overlay-element {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
    font-family: arial, sans-serif;
    margin: 0;
    position: relative;
}


#projectLevelMenu-left {
    display: flex;
    align-items: center;
}

#titlebar-simulation-name {
    font-weight: 600; 
    background: #d6d6d6;
    padding: 0 10px;
    max-width: 420px;
    height: 22px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    margin: 0 5px 0 5px;
    line-height: 22px;
}

#saveSimSettingsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 25px;
    height: 25px;
    background-color: #efefef;
}

#objectsList {
    width: 100%;
}

#objectsList option {
    padding: 5px;
    font-size: 14px;
}

