#workspace {
    position: relative;
    width: 100%;
    height: calc(100% - 25px);
    top: 25px;
    flex-direction: column;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#model-surface {
    width: 100%;
    height: 100%;
    display: block;
}

#axisViewport-surface {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

#orientationViewport-surface {
    position: absolute;
    right: 0; 
    bottom: 40px;
    width: 130px;
    height: 130px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

#overlays {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.overlay-element {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
    font-family: arial, sans-serif;
    margin: 0;
    position: relative;
}


#projectLevelMenu-left {
    display: flex;
    align-items: center;
}

#titlebar-simulation-name {
    font-weight: 600; 
    background: #d6d6d6;
    padding: 0 10px;
    max-width: 220px;
    height: 22px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    user-select: none;
    margin: 0 5px 0 5px;
    line-height: 22px;
}

#playButton {
    position: absolute;
    left: 6px;
    top: 10px;
    width: 22px;
    height: 22px;
    margin: 0px;
    background: transparent;
    user-select: none;
}
#playButton:hover {
    outline: none;
}
#playButton_img:hover {
    filter: invert(15%);
}

#pauseButton {
    position: absolute;
    left: 6px;
    top: 10px;
    width: 22px;
    height: 22px;
    margin: 0px;
    background: transparent;
    user-select: none;
}
#pauseButton:hover {
    outline: none;
}
#pauseButton_img:hover {
    filter: invert(15%);
}

#simulationProgressBarContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#simulationProgressBar {
    position: absolute;
    top: 2px;
    transform: translateY(-50%);
    align-self: center;
    height: 5px;
    width: calc(100% - 15px);
    border: solid 0.2px #999;
    background-color: #fff;
}
#simulationProgressBar-progress {
    height: 100%;
    background-color: #780606; 
    transition: width 0.2s ease forwards;
}
#simulationProgressBar:hover {
    height: 8px;
}

#time-entry {
    font-family: Arial, sans-serif;
    font-size: 14px ;
    color: #fff;
    border: none; 
}


#total-time {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
}

#speedButton {
    position: absolute;
    right: 16px;
    top: 10px;
    width: 22px;
    height: 22px;
    margin: 0px;
    background: transparent;
}
#speedButton:hover {
    outline: none;
}
#speedButton_img:hover {
    filter: invert(15%);
}


#speedMenu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

#speedMenu-overlay.hidden {
    display: none;
}

#hide-speedMenu-overlay-button {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 20; 
    height: 20; 
    font-weight: bold; 
    font-size: 20px; 
    color: #fff; 
    background-color: rgba(0,0,0,0);
}